<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <div th:insert="Config/config :: link"></div>
    <title>Change password</title>
</head>

<body>


    <div class="container-fuild vh-100 bg-black">
        <img th:src="@{/images/bg-login.png}" style="width: 100%; height: 100%;" />
    </div>
    <div class="d-flex fixed-top fixed-bottom justify-content-center align-items-center">
        <div class="bg-white px-4 py-4 rounded" style="width: 40vw;">
            <form>

                <a href="/">
                    <button type="button" class="my-btn bg-main text-white rounded px-3 py-2 fw-medium"><i
                            class="fa-solid fa-chevron-left me-2"></i> Back</button></a>
                </a>
                <div>
                    <label for="password" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Current
                        Password</label>
                    <div class="input-group my-input-form">
                        <input type="password" class="form-control" placeholder="Your old password" id="password">
                    </div>
                </div>
                <div>
                    <label for="new-password" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">New
                        Password</label>
                    <div class="input-group my-input-form">
                        <input type="password" class="form-control" placeholder="Your new password" id="new-password">
                    </div>
                </div>
                <div>
                    <label for="confirm-password" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Confirm
                        Password</label>
                    <div class="input-group my-input-form">
                        <input type="password" class="form-control" placeholder="Confirm password"
                            id="confirm-password">
                    </div>
                </div>
                <div id="error" class="text-danger mt-1 mb-3"></div>
                <button type="button" class="my-btn bg-main text-white w-100 py-2 fw-medium"
                    onclick="changePassword()">Submit</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/changepassword.js}"></script>
</body>

</html>