<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Change password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
    </head>
    <body>
        <a href="/auth/toProfile">
            <button>My profile</button>
        </a>
        <form>
            <label for="password">Current password: </label>
            <input id="password" type="password">
            <label for="new-password">New password: </label>
            <input id="new-password" type="password">
            <label for="confirm-password">Confirm new password: </label>
            <input id="confirm-password" type="password">
            <div id="error"></div>
            <button type="button" onclick="changePassword()">Submit</button>
        </form>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/changepassword.js}"></script>
    </body>
</html>
