<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="Config/config :: link"></div>
    <title>Email verification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fuild vh-100 bg-black">
        <img th:src="@{/images/bg-login.png}" style="width: 100%; height: 100%;" />
    </div>
    <div class="d-flex fixed-top fixed-bottom justify-content-center align-items-center">
        <div class="bg-white px-4 py-4 rounded" style="width: 40vw;">
            <div class="fw-medium">
                We have sent an email with a 6-digit verification code to <span th:text="${email}"
                    class="fw-bold"></span>
            </div>
            <form>
                <div class="input-group my-input-form">
                    <span class="input-group-text"><i class="fa-solid fa-circle-check"></i></span>
                    <input type="number" class="form-control" placeholder="Enter code" id="code">
                </div>

                <div id="error" class="text-danger mt-1 mb-3"></div>
                <button type="button" class="my-btn bg-main text-white w-100 py-2 fw-medium"
                    onclick="verify()">Submit</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:if="${command == 'signup'}" th:src="@{/js/emailverificationsignup.js}"></script>
    <script th:if="${command == 'retrieve'}" th:src="@{/js/emailverificationretrieve.js}"></script>
</body>

</html>