<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="Config/config :: link"></div>
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <title>Retrieve password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fuild vh-100 bg-black">
        <img th:src="@{/images/bg-login.png}" style="width: 100%; height: 100%;" />
    </div>
    <div class="d-flex fixed-top fixed-bottom justify-content-center align-items-center">
        <div class="bg-white px-4 py-4 rounded" style="width: 40vw;">
            <div class="fw-bold fs-4">Enter your email to retrieve password</div>
            <form>
                <div class="input-group my-input-form">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Your email" id="email">
                </div>

                <div id="error" class="text-danger mt-1 mb-3"></div>
                <button type="button" class="my-btn bg-main text-white w-100 py-2 fw-medium"
                    onclick="retrieve()">Submit</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/retrievepassword.js}"></script>
</body>

</html>