</html>
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{CatererPage/caterer}">

<head>


</head>

<body>
    <div layout:fragment="contentCatererPage">
        <table id="dishList" class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Order</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d : ${dishes}">
                    <td>
                        <img src="${d.dishImage}" />
                    </td>
                    <td th:text="${d.dishName}"></td>
                    <td th:text="${d.dishDescription}"></td>
                    <td th:text="${d.dishPrice}"></td>
                    <td>0</td>
                    <td>0</td>
                    <td>
                        <a th:href="@{/caterer/editDish(ID=${d.dish.dishID})}">
                            <button>Edit</button>
                        </a>
                        <a th:href="@{/caterer/deleteDish(ID=${d.dish.dishID})}">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                var table = $('#dishList').DataTable({
                    "pageLength": 5,
                    "lengthMenu": [5, 10]
                });
            });
        </script>
    </div>
</body>

</html>