<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{CatererPage/caterer}">

    <head>
        <title>Add Banner</title>
    </head>

    <body>
        <div layout:fragment="contentCatererPage">
            <div class="container mt-5">
                <!-- Form to add a new banner -->
                <form th:action="@{/caterer/add}" th:if="${banner == null}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="bannerImage">Banner Image</label>
                        <input required="true" type="file" class="form-control" id="bannerImage" name="bannerImage" accept="image/*">
                    </div>

                    <div class="form-group">
                        <label for="enddate">End Date</label>
                        <select required="true" class="form-control" id="enddate" name="enddate">
                            <option value="15">15 days</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="typeID">Banner Position</label>
                        <select required="true" class="form-control" id="typeID" name="typeID">
                            <option value="1">On top</option>
                            <option value="2">On left</option>
                            <option value="3">On right</option>
                            <option value="4">At Bottom</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a th:href="@{/caterer/myCaterer/banners}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </body>

</html>
