<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{CatererPage/caterer}">

    <head>
        <title>Edit Banner</title>
    </head>

    <body>
        <div layout:fragment="contentCatererPage">
            <div class="container mt-5">
                <!-- Form to update an existing banner -->
                <form th:action="@{/caterer/updateBanner}" th:unless="${banner == null}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="bannerID" th:value="${banner.bannerID}" />

                    <div class="form-group">
                        <img th:src="${bannerImageUrl}" width="200" height="200" />
                        <label for="bannerImage">Banner Image</label>
                        <input required="true" type="file" class="form-control" id="bannerImage" name="bannerImage" accept="image/*">
                    </div>

                    <div class="form-group">
                        <label for="bannerStartDate">Start Date</label>
                        <input th:value="${#dates.format(banner.bannerStartDate, 'yyyy-MM-dd')}" readonly type="text" class="form-control" id="bannerStartDate" name="bannerStartDate">
                    </div>

                    <div class="form-group">
                        <label for="bannerEndDate">End Date</label>
                        <input th:value="${#dates.format(banner.bannerEndDate, 'yyyy-MM-dd')}" readonly type="text" class="form-control" id="bannerEndDate" name="bannerEndDate">
                    </div>

                    <div class="form-group">
                        <label for="typeID">Banner Position</label>
                        <input th:value="${banner.typeID.typeDescription}" readonly type="text" class="form-control" id="typeName" name="typeName">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    <a th:href="@{/caterer/myCaterer/banners}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </body>

</html>
