<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{../templates/AdminPage/admin}">
    <head>
    </head>
    <body>
        <div layout:fragment="contentAdminPage">
            <link rel="stylesheet" th:href="@{/lib/datatable/datatables.min.css}"/>
            <a class="btn btn-success mb-3" href="/admin/toManageCatererRanks">Manage information</a>
            <a class="btn btn-success mb-3" href="/admin/addCatererRank">Add Caterer Rank</a>
            <a class="btn btn-success mb-3" href="/admin/toStatisticalReport">Statistical reports</a>
            
            <!-- Status Message -->
    <div th:if="${status}" class="alert alert-info" th:text="${status}"></div>
    
            <table id="rank-list" class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank ID</th>
                        <th>Rank Fee</th>
                        <th>Rank CPO</th>
                        <th>Rank Max Dish</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="catererRank : ${catererRankList}">
                        <td th:text="${catererRank.rankID}"></td>
                        <td th:text="${'$' + catererRank.rankFee}"></td>
                        <td th:text="${catererRank.rankCPO}"></td>
                        <td th:text="${catererRank.rankMaxDish}"></td>
                        <td>
                            <a th:href="@{/admin/editCatererRank(id=${catererRank.rankID})}" class="btn btn-primary">Update</a>
                            <form th:action="@{/admin/deleteCatererRank}" method="post" style="display:inline-block;" onsubmit="return confirmDelete();">
                                <input type="hidden" name="id" th:value="${catererRank.rankID}"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/lib/datatable/datatables.min.js}"></script>
            <script th:src="@{/js/managecatererrank.js}"></script>
            <script>
                function confirmDelete() {
                    return confirm('Are you sure you want to delete this item?');
                }
            </script>
        </div>
    </body>
</html>
