<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="@{../templates/AdminPage/admin}">

<head>

</head>

<body>

    <div layout:fragment="contentAdminPage">
        <div class="m-2 p-4 bg-white rounded">
            <a href="/admin/toManageinformationCaterer">
                <button class="my-btn bg-main text-white rounded px-3 py-1 fw-medium"><i
                        class="fa-solid fa-chevron-left me-2"></i> Back</button></a>
            <div class="d-flex justify-content-between mt-3">

                <div style="width: 65%;">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="v-stack">
                            <div class="fw-bold">
                                Email: <span th:text="${caterer.catererEmail}" class="fw-medium"></span>
                            </div>
                            <div class="fw-bold">
                                Rating: <span th:text="${caterer.catererRating}" class="fw-medium"></span>
                            </div>
                        </div>
                        <div class="v-stack text-end">
                            <div class="fw-bold">
                                Create date: <span class="fw-medium"
                                    th:text=" ${#dates.format(caterer.createDate, 'yyyy-MM-dd' )}"></span>
                            </div>

                            <div class="fw-bold">
                                Payment information: <span th:text="${caterer.paymentInformation}"
                                    class="fw-medium"></span>
                            </div>
                        </div>
                    </div>
                    <form id="caterer-info" method="POST">
                        <!--Email-->
                        <input name="email" type="hidden" th:value="${caterer.catererEmail}" />
                        <div class="d-flex  justify-content-between">
                            <div style="width: 35%;">
                                <label for="name" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Full
                                    name<span style="color: red;"> *</span></label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Type your name" id="name"
                                        name="name" th:value="${caterer.fullName}">
                                </div>
                                <div class="form-text text-danger" id="name-error"></div>
                            </div>

                            <!--Phone-->
                            <div style="width: 30%;">
                                <label for="phone" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Phone
                                    <span style="color: red;"> *</span></label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                    <input type="tel" class="form-control" placeholder="Your phone number" id="phone"
                                        name="phone" th:value="${caterer.phone}">
                                </div>
                                <div class="form-text text-danger" id="phone-error"></div>
                            </div>

                            <div style="width: 30%;">
                                <label for="point" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">
                                    Point</label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-regular fa-circle-check"></i></span>
                                    <input type="number" class="form-control" placeholder="Type your point" id="point"
                                        name="point" th:value="${caterer.point}">
                                </div>
                                <div class="form-text text-danger" id="point-error"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="" style="width: 20%;">
                                <label for="rank-id" class="fw-bold fs-7">
                                    Rank ID<span style="color: red;"> *</span>
                                </label>
                                <select class="form-select" id="rank-id" name="rankID" onchange="selectRank()">
                                    <option th:each="rank : ${rankList}" th:value="${rank.rankID}"
                                        th:text="${rank.rankID}" th:selected="${rank.rankID == caterer.rankID.rankID}">
                                    </option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center justify-content-between w-75">
                                <div class="fw-bold rank-fee" th:each="rank : ${rankList}" th:rank="${rank.rankID}"
                                    th:text="${'Rank fee: $' + rank.rankFee}"></div>
                                <div class="fw-bold rank-cpo" th:each="rank : ${rankList}" th:rank="${rank.rankID}"
                                    th:text="${'Rank CPO: $' + rank.rankCPO}"></div>
                                <div class="fw-bold rank-max-dish" th:each="rank : ${rankList}" th:rank="${rank.rankID}"
                                    th:text="${'Rank max dish: ' + rank.rankMaxDish}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex  justify-content-between">
                            <div class="fw-bold">
                                Rank starting date: <span id="rank-start-date"
                                    th:text="${#dates.format(caterer.rankStartDate, 'yyyy-MM-dd')}"
                                    class="fw-medium"></span>
                            </div>
                            <!--Rank ending date-->
                            <div>
                                <label for="rank-end-date" class="form-label fs-7 fw-bold"
                                    style="margin-bottom: 0;">Rank ending date<span style="color: red;">
                                        *</span></label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                    <input type="date" class="form-control" id="rank-end-date" name="rankEndDate"
                                        th:value="${#dates.format(caterer.rankEndDate, 'yyyy-MM-dd')}">
                                </div>
                                <div class="form-text text-danger" id="rank-end-date-error"></div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div style="width: 40%;">
                                <label for="profile-img" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">New
                                    Profile Image:</label>
                                <div class="input-group my-input-form">
                                    <input type="file" class="form-control" placeholder="Type your profile-img"
                                        id="profile-img" name="profileImg" accept=".jpg, .jpeg, .png">
                                </div>
                                <div class="form-text text-danger" id="profile-img-error"></div>
                            </div>
                            <!--Birthday-->
                            <div style="width: 30%;">
                                <label for="birthday" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Birthday
                                </label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                    <input type="date" class="form-control" placeholder="Your birthday" id="birthday"
                                        name="birthday" th:value="${#dates.format(caterer.birthday, 'yyyy-MM-dd')}">
                                </div>
                            </div>
                            <!--Gender-->
                            <div style="width: 20%;">
                                <label for="gender" class="fw-bold fs-7">
                                    Gender<span style="color: red;"> *</span>
                                </label>
                                <select class="form-select" id="gender" name="gender">
                                    <option value="0" th:selected="${caterer.gender == 0}">Male</option>
                                    <option value="1" th:selected="${caterer.gender == 1}">Female</option>
                                </select>
                            </div>

                        </div>
                        <div>
                            <!--Address-->
                            <div>
                                <label for="address" class="form-label fs-7 fw-bold"
                                    style="margin-bottom: 0;">Address<span style="color: red;"> *</span></label>
                                <div class="input-group my-input-form">
                                    <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                                    <input type="text" class="form-control" placeholder="Your address" id="address"
                                        th:value="${caterer.address}" name="address">
                                </div>
                                <div class="form-text text-danger" id="address-error"></div>
                            </div>
                            <!--District-->

                            <select class="form-select" id="district-id" name="districtID">
                                <option th:each="district : ${districtList}" th:value="${district.districtID}"
                                    th:text="${district.districtName + ', ' + district.cityID.cityName}"
                                    th:selected="${caterer.districtID.districtID == district.districtID}">
                                </option>
                            </select>
                        </div>

                        <!--Payment information-->
                        <!--Description-->
                        <div>
                            <label for="description" class="form-label fs-7 fw-bold"
                                style="margin-bottom: 0;">Description</label>
                            <div class="input-group my-input-form">
                                <textarea type="text" class="form-control" placeholder="Your description"
                                    id="description" name="description" th:text="${caterer.description}"></textarea>
                            </div>
                        </div>
                        <!--Active-->
                        <label for="active" class="fw-bold fs-7">
                            Active<span style="color: red;"> *</span>
                        </label>
                        <select class="form-select" id="active" name="active">
                            <option value="0" th:selected="${caterer.active == 0}">Suspended</option>
                            <option value="1" th:selected="${caterer.active == 1}">Active</option>
                        </select>
                        <!--Submit-->
                        <div id="error"></div>
                        <button type="button" onclick="editCatererInformation()"
                            class="my-btn bg-main w-100 text-white fw-medium py-2 rounded mt-4">Submit</button>
                    </form>
                </div>
                <img th:src="@{${img == null ? '/images/default-avatar.png' : img}}" style="height: 200px; width: 30%">
            </div>
        </div>
        <script th:src="@{/js/editinformationcaterer.js}"></script>
        <script src="../../../static/js/editinformationcaterer.js"></script>
    </div>
</body>

</html>