<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/AdminPage/admin">
    <head>
    </head>
    <body>
        <div layout:fragment="contentAdminPage">
            <a href="/admin/toManageinformationCaterer">
                <button>Back</button>
            </a>
            <img th:src="@{${img == null ? '/images/default-avatar.png' : img}}">
            <!--Email-->
            <div>
                Email: <span th:text="${caterer.catererEmail}"></span>
            </div>
            <div>
                Rating: <span th:text="${caterer.catererRating}"></span>
            </div>
            <form id="caterer-info" method="POST">
                <!--Email-->
                <input name="email" type="hidden" th:value="${caterer.catererEmail}"/>
                <!--Profile image-->
                <label for="profile-img">New profile image: </label>
                <input id="profile-img" name="profileImg" type="file" accept=".jpg, .jpeg, .png"/>
                <div id="profile-img-error"></div>
                <!--Password-->
                <label for="password">New password: </label>
                <input id="password" name="password" type="password"/>
                <div id="password-error"></div>
                <!--Rank-->
                <label for="rank-id">
                    Rank ID <span style="color: red;">*</span>
                </label>
                <select id="rank-id" name="rankID" onchange="selectRank()">
                    <option th:each="rank : ${rankList}" th:value="${rank.rankID}" th:text="${rank.rankID}" th:selected="${rank.rankID == caterer.rankID.rankID}"></option>
                </select>
                <div th:each="rank : ${rankList}" th:rank="${rank.rankID}" th:text="${'Rank fee: $' + rank.rankFee}" class="rank-fee"></div>
                <div th:each="rank : ${rankList}" th:rank="${rank.rankID}" th:text="${'Rank CPO: $' + rank.rankCPO}" class="rank-cpo"></div>
                <div th:each="rank : ${rankList}" th:rank="${rank.rankID}" th:text="${'Rank max dish: ' + rank.rankMaxDish}" class="rank-max-dish"></div>
                <div>
                    Rank starting date: <span th:text="${#dates.format(caterer.rankStartDate, 'yyyy-MM-dd')}"></span>
                </div>
                <!--Rank ending date-->
                <label for="rank-end-date">
                    Rank ending date <span style="color: red;">*</span>
                </label>
                <input id="rank-end-date" name="rankEndDate" type="date" th:value="${#dates.format(caterer.rankEndDate, 'yyyy-MM-dd')}"/>
                <!--Name-->
                <label for="name">
                    Full name <span style="color: red;">*</span>
                </label>
                <input id="name" name="name" th:value="${caterer.fullName}"/>
                <div id="name-error"></div>
                <!--Phone-->
                <label for="phone">
                    Phone <span style="color: red;">*</span>
                </label>
                <input id="phone" name="phone" th:value="${caterer.phone}"/>
                <div id="phone-error"></div>
                <!--Gender-->
                <label for="gender">
                    Gender <span style="color: red;">*</span>
                </label>
                <select id="gender" name="gender">
                    <option value="0" th:selected="${caterer.gender == 0}">Male</option>
                    <option value="1" th:selected="${caterer.gender == 1}">Female</option>
                </select>
                <!--Address-->
                <label for="address">
                    Address <span style="color: red;">*</span>
                </label>
                <input id="address" name="address" th:value="${caterer.address}"/>
                <div id="address-error"></div>
                <!--District-->
                <select id="district-id" name="districtID" th:value="${caterer.districtID.districtID}">
                    <option th:each="district : ${districtList}"
                            th:value="${district.districtID}"
                            th:text="${district.districtName + ', ' + district.cityID.cityName}">
                    </option>
                </select>
                <!--Birthday-->
                <label for="birthday">Birthday: </label>
                <input id="birthday" name="birthday" type="date" th:value="${#dates.format(caterer.birthday, 'yyyy-MM-dd')}"/>
                <!--Active-->
                <label for="active">
                    Active <span style="color: red;">*</span>
                </label>
                <select id="active" name="active" th:value="${caterer.active}">
                    <option value="0" th:selected="${caterer.active == 0}">Suspended</option>
                    <option value="1" th:selected="${caterer.active == 1}">Active</option>
                </select>
                <!--Submit-->
                <div id="error"></div>
                <button type="button" onclick="editCatererInformation()">Submit</button>
            </form>
            <script th:src="@{/js/editinformationcaterer.js}"></script>
        </div>
    </body>
</html>
