<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/AdminPage/admin">
    <head>
    </head>
    <body>
        <div layout:fragment="contentAdminPage">
            <a href="/admin/toManageinformationCaterer">Manage information</a>
            <a href="/admin/toHandlereportsCaterer">Handle reports</a>
            <a href="/admin/toStatisticalreportCaterer">Statistical reports</a>
            <script th:src="@{/js/chart.js}"></script>
            <script th:src="@{/js/statisticalreport.js}"></script>
        </div>
    </body>
</html>
