<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/AdminPage/admin">
    <head>
    </head>
    <body>
        <div layout:fragment="contentAdminPage">
            <a href="/admin/toManageinformationCaterer">Manage information</a>
            <a href="/admin/toHandlereportsCaterer">Handle reports</a>
            <a href="/admin/toStatisticalreportCaterer">Statistical reports</a>
            <div class="m-3">
                <div class="vstack gap-3">
                    <div class="d-flex justify-content-between">
                        <div class="bg-white rounded px-3 py-2" style="width: 65%;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="vstack">
                                    <div class="fw-bold">Today's caterer activity summary</div>
                                </div>
                                <div>
                                    Export
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <div class="rounded p-3" style="width: 23%; background-color: #FFE2E6;">
                                    <div class="vstack">
                                        <div class="d-flex align-items-center justify-content-around rounded-circle"
                                             style="width: 34px; height: 34px; background-color: #FA5A7E;">
                                            <i class="fs-7 fa-solid fa-hand-holding-dollar text-white"></i>
                                        </div>
                                        <div class="fs-5 fw-bold"
                                             th:text="${numCatererGotOrdered}">
                                        </div>
                                        <div class="">
                                            Caterers got Ordered
                                        </div>
                                        <div th:class="'fs-7 ' + ${numCatererGotOrderedGap >= 0 ? 'text-primary' : 'text-danger'} "
                                             th:text="${numCatererGotOrderedGap >= 0 ? '+' + numCatererGotOrderedGap : numCatererGotOrderedGap}">
                                        </div>
                                    </div>
                                </div>
                                <div class="rounded p-3" style="width: 23%; background-color: #FFF4DE;">
                                    <div class="vstack">
                                        <div class="d-flex align-items-center justify-content-around rounded-circle"
                                             style="width: 34px; height: 34px; background-color: #FF947A;">
                                            <i class="fs-7 fa-solid fa-file-contract text-white"></i>
                                        </div>
                                        <div class="fs-5 fw-bold" th:text="${numAcceptedOrder}">
                                        </div>
                                        <div class="">
                                            Accepted Orders
                                        </div>
                                        <div th:class="'fs-7 ' + ${numAcceptedOrderGap >= 0 ? 'text-primary' : 'text-danger'} "
                                             th:text="${numAcceptedOrderGap >= 0 ? '+' + numAcceptedOrderGap : numAcceptedOrderGap}">
                                        </div>
                                    </div>
                                </div>
                                <div class="rounded p-3" style="width: 23%; background-color: #DCFCE7;">
                                    <div class="vstack">
                                        <div class="d-flex align-items-center justify-content-around rounded-circle"
                                             style="width: 34px; height: 34px; background-color: #3CD755;">
                                            <i class="fs-7 fa-regular fa-bell text-white"></i>
                                        </div>
                                        <div class="fs-5 fw-bold" th:text="${numAciveBanner}">
                                        </div>
                                        <div class="">
                                            Active Banners
                                        </div>
                                        <div th:class="'fs-7 ' + ${numActiveBannerGap >= 0 ? 'text-primary' : 'text-danger'} "
                                             th:text="${numActiveBannerGap >= 0 ? '+' + numActiveBannerGap : numActiveBannerGap}">
                                        </div>
                                    </div>
                                </div>
                                <div class="rounded p-3" style="width: 23%; background-color: #F4E8FF;">
                                    <div class="vstack">
                                        <div class="d-flex align-items-center justify-content-around rounded-circle"
                                             style="width: 34px; height: 34px; background-color: #BF83FF;">
                                            <i class="fs-7 fa-solid fa-user-plus text-white"></i>
                                        </div>
                                        <div class="fs-5 fw-bold" th:text="${numActiveVoucher}">
                                            10
                                        </div>
                                        <div class="">
                                            Active Vouchers
                                        </div>
                                        <div th:class="'fs-7 ' + ${numActiveVoucherGap >= 0 ? 'text-primary' : 'text-danger'} "
                                             th:text="${numActiveVoucherGap >= 0 ? '+' + numActiveVoucherGap : numActiveVoucherGap}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white rounded px-3 py-2" style="width: 33%;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold">
                                    Accepted orders
                                </div>
                                <select id="lineChartCaterer" class="form-select fs-7" style="width: 40%;">
                                    <option class="fs-7" value="Day">By Day</option>
                                    <option class="fs-7" value="Month">By Month</option>
                                    <option class="fs-7" value="Year">By Year</option>
                                </select>
                            </div>
                            <div class="pt-3">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="bg-white rounded" style="width: 31%;">
                            <div>
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                        <div class="bg-white rounded px-3 py-2" style="width: 67%;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="fw-bold">
                                    Revenue Report
                                </div>
                                <select id="barChartCaterer" class="form-select fs-7" style="width: 20%;">
                                    <option class="fs-7" value="Day">By Day</option>
                                    <option class="fs-7" value="Month">By Month</option>
                                    <option class="fs-7" value="Year">By Year</option>
                                </select>
                            </div>

                            <div class="pt-4">
                                <canvas id="myChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/js/chart.js}"></script>
            <script th:src="@{/js/statisticalreportcaterer.js}"></script>
        </div>
    </body>
</html>
