<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:insert="Config/config :: link"></div>
</head>

<body>
    <div class="row gx-0">
        <nav class="vh-100 col-2 p-3">
            <div class="d-flex">
                <div>
                    <i class="fa-solid fa-house"></i>
                </div>
                <div class="">
                    PlaPor
                </div>
            </div>
            <div class="vstack gap-2">
                <a href="/admin/dashboard"
                    th:class="'item-nav ' + ${selectedPage == 'admindashboard' ? 'item-nav-selected' : '' }">
                    <div class="">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <div class="fw-bold d-flex">
                        Dashboard
                    </div>
                </a>
                <a href="/admin/toManageinformationCaterer"
                    th:class="'item-nav ' + ${selectedPage == 'admincaterer' ? 'item-nav-selected' : '' }">
                    <div class="">
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <div class="fw-bold d-flex">
                        Caterer
                    </div>
                </a>
                <a href="/admin/toManageCatererRanks"
                    th:class="'item-nav ' + ${selectedPage == 'admincatererrank' ? 'item-nav-selected' : '' }">
                    <div class="">
                        <i class="fa-solid fa-ranking-star"></i>
                    </div>
                    <div class="fw-bold d-flex">
                        Caterer rank
                    </div>
                </a>
                <a href="/admin/toManageinformationCustomer"
                    th:class="'item-nav ' + ${selectedPage == 'admincustomer' ? 'item-nav-selected' : '' }">
                    <div class="">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="fw-bold d-flex">
                        Customer
                    </div>
                </a>
                <a href="/admin/toManageFeedbacks"
                    th:class="'item-nav ' + ${selectedPage == 'adminfeedback' ? 'item-nav-selected' : '' }">
                    <div class="">
                        <i class="fa-solid fa-comments"></i>
                    </div>
                    <div class="fw-bold d-flex">
                        Feedback
                    </div>
                </a>
            </div>
        </nav>
        <div class="vh-100 bg-light col-10">
            <header class="bg-white d-flex px-4 py-2 justify-content-between align-items-center">
                <div class="fs-4 fw-bold" th:text="${title}"></div>
                <div class=" d-flex align-items-center">
                    <i class="fa-regular fa-bell me-3"></i>
                    <i class="fa-solid fa-circle-user fs-4"></i>
                </div>
            </header>
            <div layout:fragment="contentAdminPage">
            </div>
        </div>
    </div>

</body>

</html>