<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/AdminPage/admin">
    <head>
    </head>
    <body>
        <div layout:fragment="contentAdminPage">
            <link rel="stylesheet" th:href="@{/lib/datatable/datatables.min.css}"/>
            <a class="btn btn-success mb-3" href="/admin/toManageFeedbacks">Manage information</a>
            <a class="btn btn-success mb-3" href="/admin/toStatisticalreportFeedback">Statistical reports</a>

            <!-- Status Message -->
            <div th:if="${status}" class="alert alert-info" th:text="${status}"></div>

            <table id="rank-list" class="table table-striped">
                <thead>
                    <tr>
                        <th>Feedback ID</th>
                        <th>Email</th>
                        <th>Feedback Details</th>
                        <th>Feedback Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate through feedbackList -->
                    <tr th:each="feedback : ${feedbackList}">
                        <td th:text="${feedback.feedbackID}"></td>
                        <td th:text="${feedback.email}"></td>
                        <td th:text="${feedback.feedbackDetails}"></td>
                        <td th:text="${feedback.feedbackDate}"></td>
                        
                    </tr>
                </tbody>
            </table>
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/lib/datatable/datatables.min.js}"></script>
            <script th:src="@{/js/managecatererrank.js}"></script>
            <script>
                function confirmDelete() {
                    return confirm('Are you sure you want to delete this item?');
                }
            </script>
        </div>
    </body>
</html>
