* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

:root {
    --main-bg-color: #00d675;
    --sub-bg-color: #85ffc8;
}

.item-nav {
    display: flex;
    padding: 0.6rem;
    cursor: pointer;
}

.item-nav>div:first-of-type {
    width: 20%;
}

.item-nav.item-nav-selected {
    border-radius: 8px;
    background-color: var(--main-bg-color);
}

.item-nav.item-nav.item-nav-selected>div {
    color: white;
}

.item-nav:hover {
    border-radius: 8px;
    background-color: var(--sub-bg-color);
}

.item-nav.item-nav-selected:hover {
    border-radius: 8px;
    background-color: var(--main-bg-color);
}

.bg-main {
    background-color: var(--main-bg-color);
}

.bg-sub {
    background-color: var(--sub-bg-color);
}

.text-main {
    color: var(--main-bg-color);
}

.text-sub {
    color: var(--sub-bg-color);
}

.fs-7 {
    font-size: .8rem;
}

.fs-8 {
    font-size: .6rem;
}