<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/layout}">

    <head>
        <title>Feedback Form</title>
    </head>

    <body>
        <div layout:fragment="contentMainPage">
            <h1>Feedback Form</h1>
            <div th:if="${message}" class="alert alert-info" >
                <span th:text="${message}"></span>
            </div>
            <form th:action="@{/feedback/addFeedback}" th:object="${feedback}" method="post">
                <div class="form-group">
                    <label for="feedback">Your Feedback</label>
                    <textarea  class="form-control" id="feedbackDetails" name="feedbackDetails" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>

</html>
