<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout/layout}">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <style>
        /* Custom styles */
        .container {
            max-width: 600px;
        }

        .form-group label {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div layout:fragment="contentMainPage" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form th:action="@{/feedback/addFeedback}" th:object="${feedback}" method="post">
                    <div class="form-group">
                        <label for="feedback">Your Feedback</label>
                        <textarea class="form-control" id="feedbackDetails" name="feedbackDetails" rows="5"
                            required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div th:if="${message}" class="row justify-content-center mt-3">
            <div class="col-md-10">
                <div class="alert alert-info">
                    <span th:text="${message}"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>