<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="@{../templates/AdminPage/admin}">

<head>
</head>

<body>
    <div layout:fragment="contentAdminPage">
        <a href="/admin/toManageinformationCustomer" class="btn btn-success">Manage information</a>
        <a href="/admin/toHandlereportsCustomer" class="btn btn-success">Handle reports</a>
        <a href="/admin/toStatisticalreportCustomer" class="btn btn-success">Statistical reports</a>
        <div class="m-3">
            <div class="vstack gap-3">
                <div class="d-flex justify-content-between">
                    <div class="bg-white rounded px-3 py-2" style="width: 65%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="vstack">
                                <div class="fw-bold">Today's customer activity summary</div>
                            </div>
                            <div>
                                Export
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <div class="rounded p-3" style="width: 23%; background-color: #FFE2E6;">
                                <div class="vstack">
                                    <div class="d-flex align-items-center justify-content-around rounded-circle"
                                        style="width: 34px; height: 34px; background-color: #FA5A7E;">
                                        <i class="fs-7 fa-solid fa-hand-holding-dollar text-white"></i>
                                    </div>
                                    <div class="fs-5 fw-bold" th:text="${numNewCustomer}">
                                    </div>
                                    <div class="">
                                        New Customers
                                    </div>
                                    <div th:class="'fs-7 ' + ${numNewCustomerGap >= 0 ? 'text-primary' : 'text-danger'} "
                                        th:text="${numNewCustomerGap >= 0 ? '+' + numNewCustomerGap : numNewCustomerGap}">
                                    </div>
                                </div>
                            </div>
                            <div class="rounded p-3" style="width: 23%; background-color: #FFF4DE;">
                                <div class="vstack">
                                    <div class="d-flex align-items-center justify-content-around rounded-circle"
                                        style="width: 34px; height: 34px; background-color: #FF947A;">
                                        <i class="fs-7 fa-solid fa-file-contract text-white"></i>
                                    </div>
                                    <div class="fs-5 fw-bold" th:text="${numOrder}">
                                    </div>
                                    <div class="">
                                        New Orders
                                    </div>
                                    <div th:class="'fs-7 ' + ${numOrderGap >= 0 ? 'text-primary' : 'text-danger'} "
                                        th:text="${numOrderGap >= 0 ? '+' + numOrderGap : numOrderGap}">
                                    </div>
                                </div>
                            </div>
                            <div class="rounded p-3" style="width: 23%; background-color: #DCFCE7;">
                                <div class="vstack">
                                    <div class="d-flex align-items-center justify-content-around rounded-circle"
                                        style="width: 34px; height: 34px; background-color: #3CD755;">
                                        <i class="fs-7 fa-regular fa-bell text-white"></i>
                                    </div>
                                    <div class="fs-5 fw-bold" th:text="${numCustomerOrdered}">
                                    </div>
                                    <div class="">
                                        Customers Ordered
                                    </div>
                                    <div th:class="'fs-7 ' + ${numCustomerOrderedGap >= 0 ? 'text-primary' : 'text-danger'} "
                                        th:text="${numCustomerOrderedGap >= 0 ? '+' + numCustomerOrderedGap : numCustomerOrderedGap}">
                                    </div>
                                </div>
                            </div>
                            <div class="rounded p-3" style="width: 23%; background-color: #F4E8FF;">
                                <div class="vstack">
                                    <div class="d-flex align-items-center justify-content-around rounded-circle"
                                        style="width: 34px; height: 34px; background-color: #BF83FF;">
                                        <i class="fs-7 fa-solid fa-user-plus text-white"></i>
                                    </div>
                                    <div class="fs-5 fw-bold" th:text="${pointUsed}">
                                        10
                                    </div>
                                    <div class="">
                                        Points used
                                    </div>
                                    <div th:class="'fs-7 ' + ${pointUsedGap >= 0 ? 'text-primary' : 'text-danger'} "
                                        th:text="${pointUsedGap >= 0 ? '+' + pointUsedGap : pointUsedGap}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded px-3 py-2" style="width: 33%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="fw-bold">
                                New Customers
                            </div>
                            <select id="lineChartCustomer" class="form-select fs-7" style="width: 40%;">
                                <option class="fs-7" value="Day">By Day</option>
                                <option class="fs-7" value="Month">By Month</option>
                                <option class="fs-7" value="Year">By Year</option>
                            </select>
                        </div>
                        <div class="pt-3">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="bg-white rounded px-3 py-2" style="width: 98%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="fw-bold">
                                Order Report
                            </div>
                            <select id="barChartCustomer" class="form-select fs-7" style="width: 20%;">
                                <option class="fs-7" value="Day">By Day</option>
                                <option class="fs-7" value="Month">By Month</option>
                                <option class="fs-7" value="Year">By Year</option>
                            </select>
                        </div>
                        <div class="pt-4">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/chart.js}"></script>
        <script th:src="@{/js/statisticalreportcustomer.js}"></script>
    </div>
</body>

</html>