<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{CatererPage/caterer}">

    <head>
    </head>

    <body>
        <div layout:fragment="contentCatererPage">
            <div class="container mt-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>All Ratings</h2>
                    <a href="/" class="btn btn-primary">Back to Index</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Rate</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rating : ${ratings}">
                            <td th:text="${rating.orderID.orderID}"></td>
                            <td th:text="${rating.rate}"></td>
                            <td th:text="${rating.comment}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
