<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout/layout}">

<head>
    <title>Add new delivery address</title>
</head>

<body>
    <div layout:fragment="contentMainPage">
        <div class="container d-flex justify-content-around mt-5">
            <div style="width: 50vw;">
                <a href="/customer/toDeliveryaddress">
                    <button class="my-btn bg-main text-white rounded px-3 py-1 fw-medium"><i
                            class="fa-solid fa-chevron-left me-2"></i> Back</button></a>
                </a>
                <form class="mt-3">
                    <div>
                        <!-- <label for="address">
                            Address<span style="color: red;">*</span>:
                        </label>
                        <input id="address">
                        <div id="address-error"></div>
                        <label>
                            District<span style="color: red;">*</span>:
                        </label>
                        <select id="district-id">
                            <option th:each="district : ${districtList}" th:value="${district.districtID}"
                                th:text="${district.districtName + ', ' + district.cityID.cityName}">
                            </option>
                        </select> -->
                        <!--Address-->
                        <div>
                            <label for="address" class="form-label fs-7 fw-bold" style="margin-bottom: 0;">Address<span
                                    style="color: red;"> *</span></label>
                            <div class="input-group my-input-form">
                                <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                                <input type="text" class="form-control" placeholder="Your address" id="address">
                            </div>
                            <div class="form-text text-danger" id="address-error"></div>
                        </div>
                        <!--District-->
                        <div>
                            <label class="fw-bold fs-7">
                                District<span style="color: red;"> *</span>
                            </label>
                            <select class="form-select" id="district-id" name="districtID">
                                <option th:each="district : ${districtList}" th:value="${district.districtID}"
                                    th:text="${district.districtName + ', ' + district.cityID.cityName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--Submit-->
                    <div id="error"></div>
                    <button type="button" onclick="addDeliveryAddress()"
                        class="my-btn bg-main w-100 text-white fw-medium py-2 rounded mt-4">Submit</button>
                </form>
            </div>
            <script th:src="@{/js/adddeliveryaddress.js}"></script>
        </div>
    </div>
</body>

</html>