</html>
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout/layout}">

<head>

</head>

<body>
    <div layout:fragment="contentMainPage">
        <div>
            <div class="container mt-5">
                <div class="row h-25">
                    <div class="col-4 h-100 ">
                        <div class="position-relative overflow-hidden rounded border h-100">
                            <img th:src="${profileImg}" class="w-100" alt="" style="filter: blur(4px);">
                            <div class="overflow-hidden position-absolute top-0 left-0 w-100 bg-black opacity-25"
                                style="height: 100%;">

                            </div>
                            <div class="position-absolute mx-3 my-4 top-0 left-0 w-100">
                                <div class="v-stack">
                                    <div class="d-flex align-items-center">
                                        <div class=" rounded-circle overflow-hidden"
                                            style="width: 60px; height: 60px; border: 3px solid #ccc;">
                                            <img th:src="${profileImg}" class="w-100 h-100" alt="">
                                        </div>
                                        <div class="v-stack ms-3 gap">
                                            <div class="fs-5 text-white" style="text-shadow: 1px 1px black;"
                                                th:text="${caterer.fullName}">
                                            </div>
                                            <div class="fs-7 text-white" style="text-shadow: 1px 1px black;">
                                                <i style="width: 26px;" class="fa-solid fa-phone"></i>
                                                <span class="fs-7" th:text="${caterer.phone}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="v-stack mt-3">
                                        <div class="fs-7 text-white" style="text-shadow: 1px 1px black;">
                                            <i style="width: 26px;" class="fa-solid fa-city"></i>
                                            <span class="fs-7" th:text="${caterer.districtID.cityID.cityName}"></span>
                                        </div>
                                        <div class="fs-7 text-white" style="text-shadow: 1px 1px black;">
                                            <i style="width: 26px;" class="fa-solid fa-building-circle-arrow-right"></i>
                                            <span class="fs-7" th:text="${caterer.districtID.districtName}"></span>
                                        </div>
                                        <div class="fs-7 text-white" style="text-shadow: 1px 1px black;">
                                            <i style="width: 26px;" class="fa-solid fa-location-dot"></i>
                                            <span class="fs-7" th:text="${caterer.address}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="position-absolute " style="top: 3%; right: 3%;">
                                <div class="favorite-floating-btn favorite-floating-btn-mark">
                                    <i class="fa-solid fa-heart heart"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-4 h-100">
                        <div class="d-flex flex-column h-100 ms-3 mt-4">
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-regular fa-id-card" style="width: 26px;"></i>
                                <span>Rank: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${caterer.rankID.rankID}"></span>
                            </div>
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-regular fa-star" style="width: 26px;"></i>
                                <span>Rate: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${caterer.catererRating}"></span>
                            </div>
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-regular fa-heart" style="width: 26px;"></i>
                                <span>Favorite: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${numFavorite}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 h-100">
                        <div class="d-flex flex-column h-100 ms-3 mt-4">
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-solid fa-plate-wheat" style="width: 26px;"></i>
                                <span>Dish: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${numDish}"></span>
                            </div>
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-solid fa-user-check" style="width: 26px;"></i>
                                <span>Join Time: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${caterer.createDate}"></span>
                            </div>
                            <div class="my-2 d-flex align-items-center">
                                <i class=" fa-solid fa-basket-shopping" style="width: 26px;"></i>
                                <span>Order: </span>
                                <span class="text-danger ms-2 fw-medium" th:text="${numOrder}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-row mt-5  gy-2">
                    <div class="col-3" th:each="dish : ${dishList}">
                        <div class="overflow-hidden v-stack bg-white border" style="border-radius: 12px;">
                            <div>
                                <img th:src="${dish.dishImage}" alt="" class="w-100" style="height: 150px;">
                            </div>
                            <div class="px-3 py-3">
                                <div class="fs-6 fw-medium d-flex align-items-center" style="min-height: 50px;"
                                    th:text="${dish.dishName}">
                                </div>
                                <div class="fs-6 fw-medium mt-2" th:text="${'$' + dish.dishPrice}"></div>
                                <form onsubmit="addDish(event, this)"
                                    th:unless="${session.get('scopedTarget.authController') != null && session.get('scopedTarget.authController').role == 'Caterer'}"
                                    class="d-flex justify-content-between align-items-center mt-3">

                                    <input type="hidden" name="id" th:value="${dish.dishID}">
                                    <div class="border rounded overflow-hidden">
                                        <button class="my-btn bg-main text-white fw-bold px-3 py-1" data-action="minus"
                                            type="button" onclick="updateValue(this, 'minus')">-</button>
                                        <input class="border-0 text-center" style="outline: 0; width: 30px;"
                                            type="number" name="quantity" min="0" max="999" value="1" oninput="this.value = 
                                                   this.value >= 0 && this.value <= 999 ? Math.abs(this.value) : null">
                                        <button class="my-btn bg-main text-white fw-bold px-3 py-1" data-action="add"
                                            type="button" onclick="updateValue(this, 'add')">+</button>
                                    </div>
                                    <button type="submit"
                                        th:if="${session.get('scopedTarget.authController') != null && session.get('scopedTarget.authController').role == 'Customer'}"
                                        class="fw-medium my-btn p-2 rounded-circle text-white rounded-pill bg-main"
                                        ng-click="addDish(item, index, $event)">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                    </button>
                                    <a th:unless="${session.get('scopedTarget.authController') != null && session.get('scopedTarget.authController').role == 'Customer'}"
                                        href="/auth/toLogin">
                                        <button type="button"
                                            class="fw-medium my-btn p-2 rounded-circle text-white rounded-pill bg-main">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </button>
                                    </a>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div th:if="${session.get('scopedTarget.authController') != null && session.get('scopedTarget.authController').role == 'Customer'}"
                class="position-fixed bottom-0 end-0 mb-4 me-4 z-2">

                <button class="my-btn rounded-circle p-3 bg-main" onclick="toggleModalOrder()">
                    <i class="fa-solid fa-list text-white"></i>
                </button>
            </div>

            <div th:if="${session.get('scopedTarget.authController') != null && session.get('scopedTarget.authController').role == 'Customer'}"
                class="position-fixed bottom-0 end-0 me-4 z-3 d-none" id="modalOrder" style="margin-bottom: 5rem;">
                <div class="border bg-white rounded overflow-hidden" style="width: 700px; height: 70vh">
                    <div class="v-stack">
                        <div class="w-100 bg-main d-flex align-items-center justify-content-around" style="height: 8%;">
                            <div class="fs-5 fw-medium py-2 text-white">Your Order</div>
                        </div>
                        <div id="orderHasList" class="d-flex" style="height: 92%;">
                            <div class="w-50 bg-white">
                                <div class="px-3 py-2 overflow-auto h-100">
                                    <div id="orderDishes">

                                    </div>
                                </div>
                            </div>
                            <div class="w-50 bg-main">

                                <div class=" w-100 h-100 px-3 py-2 d-flex flex-column justify-content-between">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fw-medium">Voucher:</div>
                                        <select class="form-select ms-3" id="selectedVoucher" onchange="calcTotal()">
                                            <option value="0" selected>No voucher</option>
                                            <option th:each="voucher : ${voucherList}" th:value="${voucher.voucherID}"
                                                th:text="${voucher.voucherID + ' ' + voucher.typeID.typeID + ' ' + voucher.voucherValue}">
                                            </option>
                                        </select>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="fw-medium" style="width: 70%;">Use Point?:</div>
                                        <select class="form-select" id="usePoint" onchange="calcTotal()">
                                            <option value="0" selected>No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                    <div class="v-stack">

                                        <label class="fw-medium" for="orderTime">
                                            Order time (yyyy-MM-dd HH:mm)<span style="color:red;">*</span>:
                                        </label>
                                        <input class="form-control mt-1" id="orderTime" type="datetime">
                                        <div id="orderTime-error"></div>
                                    </div>

                                    <div>
                                        <select class="form-select mb-2" id="address-type" onchange="changeAddress()">
                                            <option value="0" selected>Use new address</option>
                                            <option value="1" th:if="${addressList != null}">Use your available delivery
                                                address</option>
                                        </select>
                                        <div id="address-type-0">
                                            <label for="address" class="mb-1 fw-medium">
                                                Delivery address<span style="color:red;">*</span>:
                                            </label>
                                            <input class="form-control" id="address-0">
                                            <div id="address-0-error"></div>
                                            <select class="form-control" id="districtID">
                                                <option th:each="district : ${districtList}"
                                                    th:value="${district.districtID}"
                                                    th:text="${district.districtName + ', ' + district.cityID.cityName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div id='address-type-1' style="display: none;">
                                            <select class="form-control" id='address-1'>
                                                <option th:each="address : ${addressList}"
                                                    th:value="${address.addressID}"
                                                    th:text="${address.address + ', ' + address.districtID.districtName + ', ' + address.districtID.cityID.cityName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class=" d-flex align-items-center justify-content-between">
                                        <div class="fw-medium">Total</div>
                                        <div class="fw-bold">
                                            <total id="total"></total>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="input-group my-input-form">
                                            <textarea type="text" class="form-control" placeholder="Note" id="note"
                                                maxlength="200"></textarea>
                                        </div>
                                    </div>

                                    <div id="error"></div>
                                    <button class="my-btn bg-white rounded-pill w-100 py-2 fw-medium"
                                        onclick="createOrder()">
                                        Make order
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="orderEmpty" style="height: 92%;">
                            <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-around">
                                <img th:src="@{/images/empty-cart.png}" class="w-100" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/customerdetailscaterer.js}"></script>
        <script th:if="${addressList != null}">
            $(document).ready(function () {
                $('#address-1').prop('selectedIndex', 0);
            });
        </script>
    </div>

</body>

</html>