<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Delivery address</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/lib/datatable/datatables.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
    </head>
    <body>
        <a href="/">
            <button>Main Page</button>
        </a>
        <a href="/auth/toProfile">
            <button>Manage profile</button>
        </a>
        <a href="/auth/toChangepassword">
            <button>Change password</button>
        </a>
        <a href="/customer/toDeliveryaddress">
            <button>Manage delivery address</button>
        </a>
        <a href="/customer/toAdddeliveryaddress">
            <button>Add new delivery address</button>
        </a>
        <table id="delivery-addresses" class="table table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>District</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="deliveryAddress : ${deliveryAddressList}">
                    <td th:text="${deliveryAddress.address}"></td>
                    <td th:text="${deliveryAddress.districtID.districtName}"></td>
                    <td th:text="${deliveryAddress.districtID.cityID.cityName}"></td>
                    <td>
                        <form action="/customer/toEditdeliveryaddress" method="POST">
                            <input name="id" type="hidden" th:value="${deliveryAddress.addressID}">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/customer/deleteDeliveryaddress" method="POST">
                            <input name="id" type="hidden" th:value="${deliveryAddress.addressID}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/lib/datatable/datatables.min.js}"></script>
        <script th:src="@{/js/deliveryaddress.js}"></script>
    </body>
</html>
