<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Edit delivery address</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/mycss.css}"/>
    </head>
    <body>
        <a href="/customer/toDeliveryaddress">
            <button>Back</button>
        </a>
        <form>
            <input id="id" type="hidden" th:value="${deliveryAddress.addressID}">
            <!--Address-->
            <label for="address">
                Address<span style="color: red;">*</span>
            </label>
            <input id="address" th:value="${deliveryAddress.address}">
            <div id="address-error"></div>
            <!--District-->
            <select id="district-id">
                <option th:each="district : ${districtList}"
                        th:value="${district.districtID}"
                        th:text="${district.districtName + ', ' + district.cityID.cityName}"
                        th:selected="${deliveryAddress.districtID.districtID == district.districtID}">
                </option>
            </select>
            <!--Submit-->
            <div id="error"></div>
            <button type="button" onclick="editDeliveryAddress()">Submit</button>
        </form>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/editdeliveryaddress.js}"></script>
    </body>
</html>
