<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order History</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container mt-5">
            <a th:href="@{/customer/orderStatusCount}">My order Statistical</a>
            <!-- Error Message -->
            <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
            <h2>Order History</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Time</th>
                        <th>Create Date</th>
                        <th>Order State</th>
                        <th>Dish Details</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order['orderID']}"></td>
                        <td th:text="${order['orderTime']}"></td>
                        <td th:text="${order['createDate']}"></td>
                        <td th:text="${order['orderState']}"></td>
                        <td th:text="${order['dishDetails']}"></td>
                        <td>
                            <!-- Rating Button -->
                            <a th:if="${order.orderState eq 'Finished' && !order.rated}" th:href="@{/customer/ratingForm(id=${order.orderID})}" class="btn btn-primary">Rate</a>
                            <button th:if="${order.orderState eq 'Finished' && order.rated}" class="btn btn-secondary" disabled>Already Rated</button>
                            <button th:if="${order.orderState ne 'Finished'}" class="btn btn-secondary" disabled>Rate</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
